<h1>Home#index</h1>
<p><%= link_to 'some posts', shows_path %></p>
<%= user_signed_in? ? current_user.email : 'fuck you' %>
<% if user_signed_in? %>
  <% current_user.shows.each do |s| %>
    <%= s.title %>
  <% end %>
<% end %>